@media only screen 
    and (max-device-width: 640px), 
    only screen and (max-device-width: 667px), 
    only screen and (max-width: 480px)
{ 
	.banner {
		background: url(http://secretvalley.ie/wp-content/uploads/2015/06/llama.jpg) no-repeat center center fixed; 
		background-size: cover;
		background-position: left top;
		background-attachment: fixed;
	}

	.results_box{
		font-size: 26px;
	}

}