@media (max-width: 556px) {
	.play_btn {
		text-align: center;
		margin: 0px auto;
		margin-left: 45%;
		width: 30%;
		margin-top: 40%;
		height: 75px;
		font-size: 16px ! important;
		background-position: center bottom;
	}	
	.banner {
		background: url(https://upload.wikimedia.org/wikipedia/en/6/67/Wiki-llama.jpg) no-repeat center center fixed; 
		background-size: cover;
		/*background-position: center top;*/
		/*background-attachment: fixed;*/
	}
	.banner.resize {
		width: 75%;
		height: 450px;
	}
	.banner_img {
		margin: 0px auto;
		display:block;
		position: absolute;
		height: 100%;
		width: 75%;
		top: 0px;
		left: 0px;
		/*background-attachment: fixed;*/
	}
	.header_text{
		font-size: 12px;
	}
}