@media (max-width: 990px) {
	.play_btn {
		text-align: center;
		margin: 0px auto;
		margin-left: 45%;
		width: 30%;
		margin-top: 40%;
		height: 75px;
		font-size: 16px ! important;
		background-position: center left;
	}	
	.banner_img{
		/*width: 75%;*/
	}
}