<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 class="border_bottom header_text shoes_text">Select a pair of shoes</h1>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<img class="option_img shoe_img" ng-click="select(1)" src="http://a2.zassets.com/images/z/3/5/7/1/7/7/3571772-p-MULTIVIEW.jpg">
		</div>
		<div class="col-md-4">
			<img class="option_img shoe_img" ng-click="select(2)"src="http://a2.zassets.com/images/z/3/3/1/8/2/3/3318239-p-MULTIVIEW.jpg">
		</div>
		<div class="col-md-4">
			<img class="option_img shoe_img" ng-click="select(3)"src="http://a2.zassets.com/images/z/3/8/1/4/0/4/3814048-p-MULTIVIEW.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img class="option_img shoe_img" ng-click="select(4)"src="http://a3.zassets.com/images/z/3/7/6/2/5/5/3762554-p-MULTIVIEW.jpg">
		</div>
		<div class="col-md-4">
			<img class="option_img shoe_img" ng-click="select(5)"src="http://a2.zassets.com/images/z/3/7/0/8/9/1/3708918-p-MULTIVIEW.jpg">
		</div>
		<div class="col-md-4">
			<img class="option_img shoe_img" ng-click="select(6)"src="http://a2.zassets.com/images/z/3/6/0/5/8/6/3605869-p-MULTIVIEW.jpg">
		</div>
	</div>
</div>