<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h1 class="border_bottom header_text accesory_text">Select an accessory</h1>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
			<img class="option_img shoe_img" ng-click="select(1)" src="http://a2.zassets.com/images/z/3/8/0/8/7/4/3808744-p-MULTIVIEW.jpg">
		</div>
		<div class="col-md-4">
			<img class="option_img shoe_img" ng-click="select(2)"src="http://a2.zassets.com/images/z/3/0/1/3/3/3/3013338-p-MULTIVIEW.jpg">
		</div>
		<div class="col-md-4">
			<img class="option_img shoe_img" ng-click="select(3)"src="http://a1.zassets.com/images/z/3/8/1/9/6/9/3819690-p-MULTIVIEW.jpg">
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img class="option_img shoe_img" ng-click="select(4)"src="http://a3.zassets.com/images/z/3/7/1/3/4/9/3713491-p-MULTIVIEW.jpg">
		</div>
		<div class="col-md-4">
			<img class="option_img shoe_img" ng-click="select(5)"src="http://a2.zassets.com/images/z/3/6/9/0/0/0/3690001-p-MULTIVIEW.jpg">
		</div>
		<div class="col-md-4">
			<img class="option_img shoe_img" ng-click="select(6)"src="http://a2.zassets.com/images/z/3/8/5/4/9/4/3854948-p-MULTIVIEW.jpg">
		</div>
	</div>
</div>